<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="pictures/allergies.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <title><%= title %></title>

<body>
    <div class="container">
        <nav class="navbar">
            <div class="navbar-left">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contactform">Contact</a></li>
                </ul>
            </div>
            <div class="navbar-center">
                <img src="pictures/allergies.png" alt="Website Logo" class="logo">
                <span class="website-name">AllerGuard</span>
            </div>
            <div class="navbar-right">
                <a href="/login" target="_blank">
                    <button class="btn" >Login</button>
                  </a>
                  <a href="/signup" target="_blank">
                    <button class="btn" >Get Started</button>
                    </a>
            </div>
        </nav>
        <div class="paragraph">
            <div class="para1">
                <br>
                <br>
                <h1> Welcome to AllerGuard – Where Allergies Meet Their Match </h1>
                <p>At AllerGuard, we believe managing allergies shouldn't feel like a never-ending battle ⚔️</p>
            </div>
            <div class="mission">
                <h2>Our Mission</h2>
                <p>Our mission is simple , We strive to empower individuals in managing their allergies effectively and
                    confidently. AllerGuard helps you monitor your symptoms, identify triggers, and gain insights into
                    your health. Our mission is to turn the chaos of allergies into a clear and manageable journey,
                    ensuring that you have the tools and knowledge to live your best life without limitations.</p>
            </div>
            <div class="offer">
                <div class="offert">
                    <h3>🌟 What We Offer</h3>
                    <p>Ready to join the allergy-fighting squad? Here's what we've got for you:</p>
                    <dl>
                        <dt>📚 <strong>Fun, Educational Reads</strong></dt>
                        <dd>Our articles will not just inform, but entertain. Get lost in a sea of knowledge and come
                            out allergy-free</dd>

                        <dt>🛠️ <strong>Interactive Symptom Trackers</strong></dt>
                        <dd>Track your sneezes, and let’s decode what’s really behind that runny nose</dd>

                        <dt>👩‍⚕️ <strong>Expert Q&A Sessions</strong></dt>
                        <dd>Ever wanted to ask an allergist something? Now’s your chance</dd>

                        <dt>🤝 <strong>Community Fun</strong></dt>
                        <dd>Meet fellow allergy warriors in our forum. Swap stories, laugh about those weird allergic
                            reactions, and feel better together</dd>

                        <dt>🛒 <strong>Allergy-Safe Goodies</strong></dt>
                        <dd>From nuts-free snacks to hypoallergenic pillows, our marketplace has you covered</dd>
                    </dl>
                </div>
                <div class="puzzle">
                    <h3>🔍 Allergy Word Search: Can You Find Them?</h3>
                    <table class="word-search">
                        <tr>
                            <td class="highlight">P</td>
                            <td class="highlight">E</td>
                            <td class="highlight">A</td>
                            <td class="highlight">N</td>
                            <td class="highlight">U</td>
                            <td class="highlight">T</td>
                            <td class="highlight">S</td>
                        </tr>
                        <tr>
                            <td>O</td>
                            <td>F</td>
                            <td>D</td>
                            <td>U</td>
                            <td>S</td>
                            <td>T</td>
                            <td>H</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>I</td>
                            <td>L</td>
                            <td>K</td>
                            <td>G</td>
                            <td>X</td>
                            <td>H</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>S</td>
                            <td>U</td>
                            <td class="highlight">E</td>
                            <td class="highlight">G</td>
                            <td class="highlight">G</td>
                            <td class="highlight">S</td>
                        </tr>
                        <tr>
                            <td>P</td>
                            <td>H</td>
                            <td>A</td>
                            <td>P</td>
                            <td>E</td>
                            <td>T</td>
                            <td>S</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="choose">
                <h3>🌟 Why Choose AllerGuard?</h3>
                <p>Allergies are tough, but we're tougher.</p>
                <p>Here’s why you should join our squad</p>
                <dl>
                    <dt>🔬 <strong>Science-Backed Tips</strong></dt>
                    <dd>Every article is fact-checked by the experts – we don’t mess around when it comes to your health
                    </dd>

                    <dt>🛠️ <strong>Tools That Actually Work</strong></dt>
                    <dd>Our trackers and guides are not just easy to use; they make you feel like a detective in charge
                        of your allergy case</dd>

                    <dt>🌍 <strong>A Community That Gets It</strong></dt>
                    <dd>You’ll never feel alone – we’re all in this sneezing, itching adventure together</dd>
                </dl>
                <section class="team">
                    <h3>Meet Our Team 👥</h3>
                    <div class="team-container">
                        <div class="team-member">
                            <img src="pictures/specialist.png" alt="Team Member 1" class="team-photo">
                            <h4>Amna Mumtaz</h4>
                            <p>Allergy Specialist</p>
                            <p>Amna has over 10 years of experience in helping individuals manage their allergies
                                effectively.</p>
                        </div>
                        <div class="team-member">
                            <img src="pictures/consultant.png" alt="Team Member 2" class="team-photo">
                            <h4>Rameen Naveed</h4>
                            <p>Healthcare Consultant</p>
                            <p>Rameen is dedicated to providing top-notch healthcare advice to our clients.</p>
                        </div>
                        <div class="team-member">
                            <img src="pictures/manager.png" alt="Team Member 3" class="team-photo">
                            <h4>Zoha Latif</h4>
                            <p>Community Manager</p>
                            <p>Zoha helps build and manage the AllerGuard community, fostering support and
                                collaboration.</p>
                        </div>
                        <div class="team-member">
                            <img src="pictures/ps.png" alt="Team Member 4" class="team-photo">
                            <h4>Mishal Muskan</h4>
                            <p>Product Specialist</p>
                            <p>Mishal ensures that we offer the best allergy-friendly products available on the market.
                            </p>
                        </div>
                        <div class="team-member">
                            <img src="pictures/researcher.png" alt="Team Member 5" class="team-photo">
                            <h4>Rameen Malik</h4>
                            <p>Researcher</p>
                            <p>Rameen conducts cutting-edge research to keep our resources up-to-date and accurate.</p>
                        </div>
                    </div>
                </section>
                <br>
                <h3><b>Thank you for trusting AllerGuard</h3>
                
                
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <h2>Allergy Tracker</h2>
                <p>Allergy Research and Tracking Program</p>
            </div>

            <div class="footer-middle">
                <h3>Quick Links</h3>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                    <li><a href="/signup">Track Allergies</a></li>
                    <li><a href="#allergy_info">Allergy Information</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contactform">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-right">
                <h3>Policies & Reports</h3>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="/services">Terms of Service</a></li>
                    <li><a href="#">Security Information</a></li>
                    <li><a href="/contactform">Report a Problem</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Allergy Tracker © 2024 - All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>